.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container.full-screen {
  position: static;
}

.widget {
  width: 50vh;
  height: 30vh;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
}

.widget.full-screen {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.widget-header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  flex-grow: 0;
  height: 5vh;
}

.widget-title {
  margin: 0;
}

.widget-controls {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.expand-compress-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.widget-content {
  max-height: 25vh;
  flex-grow: 1;
  overflow: auto;
}

.widget-content-data {
}
